name: Tests

on:
  push:
  pull_request:

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Setup envtest
        run: |
          go install sigs.k8s.io/controller-runtime/tools/setup-envtest@latest
          setup-envtest use --bin-dir ./bin

      - name: Run tests
        run: |
          export KUBEBUILDER_ASSETS="$(setup-envtest use -p path)"
          go mod tidy
          make test

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          files: coverage.out
          flags: unittests
          fail_ci_if_error: false
